*{
    margin: 0;
}
header{
    background-image: url(https://days.dump.hr/img/header.a62ee423.jpg);
    overflow: hidden;
    padding: 30px 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: transparent;
    padding: 30px 40px;
}
.header-image{
    width: 165px;
    height: 44px;
}
.line{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 8px 0;
}
.header-text{
    color : white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
}
.header-text--blue{
    color: #30cec1;
    text-decoration: none;
}
.header-main{
    margin-top: 480px;
    margin-bottom: 250px;
}
.details{
    margin-top: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 26px;
    font-weight: 600;
}
.header-buttons{
    display: none;
}
@media screen and (min-width: 768px){
    nav, header{
        padding: 25px 75px; 
    }
    .header-main{
        margin-top: 520px;
    }
}
@media screen and (min-width: 1024px){
    .menu{
        display: none;
    }
    .header-text{
        font-size: 56px;
        line-height: 56px;
    }
    .header-buttons{
        display: block;
    }
    .header-main{
        margin-top: 380px;
        margin-left: 50px;
    }
    .header-button{
        margin-right: 45px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
    .registracija{
        color: white;
        display: inline-block;
        border: 0;
        padding: 8px 10px;
        background-color: #30cec1;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
    nav{
        padding: 25px 100px;
    }
    header{
        white-space: normal;
    }
}
@media screen and (min-width: 1440px){
    nav{
        padding: 25px 160px;
    }
    .header-main{
        margin-top: 430px;
        margin-left: 250px;
        margin-right: 100px;
    }
}